<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Changed log level to WARN for DBUnit to suppress printing of database
        driver info for every test.  Change to INFO to see driver info.
    -->
    <logger name="org.springframework.data.document.mongodb" level="info" />

    <logger name="org.springframework.data.mongodb.core" level="info" />

    <root level="info">
        <appender-ref ref="stdout" />
    </root>

</configuration>